mixin button(options)
  -
    var baseClassName = 'button'
    var componentClassName = baseClassName
    componentClassName += options.isHover ? ` ${baseClassName}_hover`: ''
    componentClassName += options.type == 'colored' ? ' ' + baseClassName + '_colored': ''
    componentClassName += options.type == 'outline' ? ' ' + baseClassName + '_outline': ''
    componentClassName += options.type == 'arrowed' ? ' ' + baseClassName + '_arrowed': ''
    componentClassName += !options.type ? ' ' + baseClassName + '_default': ''
    componentClassName += options.size == 'sm' ? ' ' + baseClassName + '_sm': ''
  button(class= componentClassName)= options.value
    if options.type == 'arrowed'
      svg(width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M9 0.426758L17.0156 8.44238L9 16.458L7.59375 15.0518L13.1719 9.42676H0.984375V7.45801H13.1719L7.59375 1.83301L9 0.426758Z' fill='white')
