.date-dropdown {
  position: relative;
  user-select: none;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 44px;
    width: 100%;
    border: 1px solid $dark-25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px 0px 2px 12px;
    font-family: $bodyTextFont;
    font-size: $bodyTextFontSize;
    color: $dark-75;
  }

  &__block {
    position: absolute;
    display: block;
    top: 100%;
    min-width: 318px;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }

  &__arrow {
    position: relative;
    width: 44px;
    height: 44px;
    margin-top: 4px;
    @include centered();

    svg {
      opacity: 0.5;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  &_open &__block {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    padding-top: 6px;
  }

  &_open &__arrow svg {
    opacity: 0.75;
  }

  &__actions {
    background-color: #FFF;
  }

  &__button {
    
    @include t-button();
    text-transform: uppercase;
    color: $purple;
    background-color: #FFF;

    &:hover {
      color: $dark-50;
    }
  }

  &__placeholder {
    text-transform: uppercase;
  }
}
