.advantages-block {
  color: $dark-75;
  font-size: $bodyTextFontSize;
  display: flex;
  padding-bottom: 37px;

  &:last-child {
    padding-bottom: 0px;
  }

  &-emotion {
    background-image: $emotion-icon;
  }

  &-location {
    background-image: $location-icon;
  }

  &-comfort {
    background-image: $comfort-icon;
  }

  &__aside {
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    margin-top: 4px;
    margin-left: 3px;
  }

  &__content {
    flex: 1;
    padding-left: 7px;
  }

  &__title {
    font-family: $labelTextFont;
    font-weight: $wigetTitleFontWeight;
    padding-bottom: 7px;
    padding-top: 3px;
  }

  &__description {
    font-family: $bodyTextFont;
    font-weight: $bodyTextFontFontWeight;
  }
}
