.checkbox-buttons {

  &__name {
    font-family: $labelTextFont;
    font-weight: $wigetTitleFontWeight;
    font-size: $labelTextFontSize;
    text-transform: uppercase;
    color: $dark-100;
    margin-bottom: 17px;
  }
}
