.filter-date-dropdown {
  position: relative;
  user-select: none;
  width: 100%;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 44px;
    width: 100%;
    border: 1px solid $dark-25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px 0px 0px 13px;
    font-family: $bodyTextFont;
    font-size: $bodyTextFontSize;
    color: $dark-75;
  }

  &__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__placeholder {
    padding-bottom: 9px;
  }
  &__options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }

  &__option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #fff;
    }

    &-selected {
      color: #ffffff;
      background-color: #305c91;
    }
  }

  &__arrow {
    position: relative;
    height: 49px;
    width: 44px;

    svg {
      opacity: 0.5;
      margin: 17px;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  &_open &__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &_open .arrow svg {
    opacity: 0.75;
  }

  &__actions {
    background-color: #ffffff;
  }

  &__button {
    font-family: $labelTextFont;
    font-size: $labelTextFontSize;
    line-height: $labelTextFontLineHeight;
    text-transform: uppercase;
    color: $purple;
    background-color: #ffffff;

    &:hover {
      color: $dark-50;
    }
  }
}
