.range-slider {
  &__slider {
    position: relative;
    z-index: 1;
    height: 6px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: $labelTextFontSize;
    margin-bottom: 23px;
  }

  &__name {
    font-family: $labelTextFont;
    font-weight: $wigetTitleFontWeight;
    color: $dark-100;
  }

  &__value {
    font-family: $bodyTextFont;
    font-weight: $bodyTextFontFontWeight;
    color: $dark-50;
  }

  &__track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
  }

  &__range {
    position: absolute;
    z-index: 2;
    left: 32%;
    right: 40%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &__thumb {
    position: absolute;
    z-index: 3;
    width: 15px;
    height: 15px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: 2px solid #ffffff;
    border-radius: 10px;
    :hover {
      box-shadow: 0 0 0 20px rgba(98, 0, 238, 0.1);
    }
    :active {
      box-shadow: 0 0 0 40px rgba(98, 0, 238, 0.2);
    }
  }
  &__thumb_left {
    left: 32%;
    transform: translate(-10px, -5px);
  }
  &__thumb_right {
    right: 38%;
    transform: translate(10px, -5px);
  }

  &__input {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
  }

  &__description {
    padding-top: 14px;
    font-family: $bodyTextFont;
    font-weight: $bodyTextFontFontWeight;
    font-size: $labelTextFontSize;
    line-height: $labelTextFontLineHeight;
    color: $dark-50;
  }
}
