.toggle {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 17px;
  min-height: 24px;

  &__name {
    font-family: $bodyTextFont;
    font-size: $bodyTextFontSize;
    font-weight: $bodyTextFontFontWeight;
    padding-left: 50px;
    color: $dark-75;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__input:checked ~ &__name {
    color: $dark-75;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__input:checked ~ &__togglemark {
    background: #ffffff;
    border: 1px solid $purple;
  }

  &__togglemark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 40px;
    color: $dark-25;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;

    svg {
      opacity: 0;
      width: 11px;
      height: 11px;
      position: absolute;
      top: 50%;
      margin-top: -6px;
    }
  }

  &__togglemark &__disabled {
    opacity: 1;
    height: 12px;
    left: 3px;
  }

  &__input:checked ~ &__togglemark &__enabled {
    opacity: 1;
    right: 3px;
  }

  &__input:checked ~ &__togglemark &__disabled {
    opacity: 0;
  }
}
