mixin radio(options)
  label.radio
    input.radio__input(type='radio' name=options.value.id checked=options.value.isChecked)
    .radio__name= options.value.name
    span.radio__radiomark
      svg(width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        rect(width='12' height='12' rx='6' fill='url(#radio_svg)')