include calendar-day/calendar-day
include calendar-head/calendar-head
include calendar-content/calendar-content

mixin calendar(options)
  -
    var componentClassName = 'calendar'
    componentClassName += options.isOpen ? ' ' + componentClassName + '-open': ''
    componentClassName += options.className ? ' ' + options.className : ''
  div(class= componentClassName)
    +calendar-head({value: 'август 2019'})
    +calendar-content({items: [{
        value: 29,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: true
    },
    {
        value: 30,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: true
    },
    {
        value: 31,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: true
    },
    {
        value: 1,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 2,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 3,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 4,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 5,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 6,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 7,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 8,
        isCurrent: true,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 9,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 10,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 11,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 12,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 13,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 14,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 15,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 16,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 17,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 18,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 19,
        isCurrent: false,
        isBegin: true,
        isBeginPoint: true,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 20,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 21,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 22,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 23,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: true,
        isEndPoint: true,
        isOther: false
    },
    {
        value: 24,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 25,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 26,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 27,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 28,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 29,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 30,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 31,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: false
    },
    {
        value: 1,
        isCurrent: false,
        isBegin: false,
        isBeginPoint: false,
        isEnd: false,
        isEndPoint: false,
        isOther: true
    }
    ]})
    .calendar__actions
      +button({value: 'очистить' })
      +button({value: 'применить'})
