mixin guide-color({colorType, title, description}= {})
  -
    var asideClassName = 'guide-color__aside'
    asideClassName += colorType ? ' guide-color-' + colorType : ''
  .guide-color
    div(class = asideClassName)
    .guide-color__content
      .guide-color__title= title
      .guide-color__description= description
