.diagram {
  &__gradients {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }
  figure {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
    flex-direction: row;
  }

  &__donut {
    display: block;
  }

  &__figure-content,
  &__figure-key {
  }

  &__figure-content {
    position: relative;
  }

  &__figure-key {
    min-width: calc(8 / 12);
    margin-top: 27px;
    margin-left: 4px;
  }
  &__figure-key [class="diagram__shape-"] {
    margin-right: 6px;
  }
  &__figure-key-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__figure-key-list li {
    margin: 0 0 0;
    padding: 0;
  }
  &__shape-circle {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  &__shape-yellow {
    background: linear-gradient(#ffe39c, #ffba9c);
  }
  &__shape-green {
    background: linear-gradient(#6fcf97, #66d2ea);
  }

  &__shape-purple {
    background: linear-gradient(#bc9cff, #8ba4f9);
  }

  &__shape-black {
    background: linear-gradient(#909090, #3d4975);
  }

  &__shape-text {

    @include t-body-0();
    line-height: $bodyTextFontLineHeight;
    color: $dark-75;
    letter-spacing: -0.03rem;
  }

  &__chart-text {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $purple;
    font-family: $labelTextFont;
    font-weight: $wigetTitleFontWeight;
  }
  &__chart-number {
    font-size: $wigetTitleFontSize;
    line-height: $wigetTitleLineHeight;
  }

  &__chart-label {
    font-size: $labelTextFontSize;
    line-height: $labelTextFontLineHeight;
  }

  &__donut-segment-yellow {
    stroke: $purple;
  }
}
