.option {
  display: grid !important;
  grid-template-columns: auto 92px;
  position: relative;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 11px;
  margin-right: 6px;

  &:hover {
    cursor: pointer;
    background-color: #fff;
  }

  &-selected {
    color: #ffffff;
  }

  &__name {
@include t-label();
    line-height: $labelTextFontLineHeight;
    margin-top: 13px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #fff;
    }
  }
}
