mixin filter-date-dropdown(options)
  -
    var componentClassName = 'filter-date-dropdown'
    componentClassName += options.isOpen ? ' ' + componentClassName + '_open': ''
    componentClassName += options.className ? ' ' + options.className : ''
  div(class= componentClassName)
    .filter-date-dropdown__wrapper
      .filter-date-dropdown__trigger
        .filter-date-dropdown__placeholder= options.placeholder
        .filter-date-dropdown__arrow 
          svg(width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z' fill='#1F2041')
      .filter-date-dropdown__block