mixin masked-text-field({className, isHover=false, placeholder}={})
  -
    var componentClassName = 'masked-text-field'
    componentClassName += isHover ? ' ' + componentClassName + '-hover': ''
    componentClassName += className ? ' ' + className : ''
  div(class= componentClassName)
    input.masked-text-field__input(type='text' placeholder= placeholder)