mixin text-field({className, isHover= false, placeholder, value}= {})
  -
    var componentClassName = 'text-field'
    componentClassName += isHover ? ' ' + componentClassName + '-hover': ''
    componentClassName += className ? ' ' + className : ''
  div(class= componentClassName)
    input.text-field__input(type='text' placeholder= placeholder value= value)