mixin counter({value}= {})
  -
    var controlClassName = 'counter__control'
    var minusClassName = controlClassName
    minusClassName += value <= 0 ? ' ' + controlClassName + '_deactivated' : ''
  .counter
      div(class=minusClassName)= '-'
      .counter__value= value
      .counter__control= '+'