mixin search-room({className, isOpenDestination= false, placeholderDestination, placeholderDeparture, isOpenGuests= false, placeholderGuests}= {})
  -
    var componentClassName = 'search-room'
    componentClassName += className ? ` ${className}` : ''
  div(class= componentClassName)
    h1.search-room__name Найдём номера под ваши пожелания
    +group-wrapper({className: 'margin-t-20'})
      +field-wrapper({title: 'прибытие'})
        +date-dropdown({isOpen: isOpenDestination, placeholder: placeholderDestination || 'дд.мм.гггг'})  
      +field-wrapper({title: 'выезд'})
        +date-dropdown({isOpen: false, placeholder:  placeholderDeparture || 'дд.мм.гггг'})  
    +field-wrapper({className: 'margin-t-20', title: 'гости', description: ''})
      +dropdown({
        isOpen: isOpenGuests, 
        isShowActions: true,
        isClearable: true, 
        placeholder: placeholderGuests || 'Сколько гостей',
        values: [
          {id: 1, name: 'взрослые', count: 2}, 
          {id: 2, name: 'дети', count: 1}, 
          {id: 3, name: 'младенцы', count: 0}
        ]
      }) 
    .margin-t-30      
      +button({value: 'подобрать номер', type: 'arrowed'})    