extends ../../components/layout/layout

include ../../components/logo/logo
include ../../components/navigation/navigation
include ../../components/header/header
include ../../components/footer/footer
include ../../components/subscription-text-field/subscription-text-field
include ../../components/copyright/copyright
include ../../components/social-icon/social-icon
include ../../components/section/section
include ../../components/group-wrapper/group-wrapper
include ../../components/field-wrapper/field-wrapper
include ../../components/dropdown/dropdown
include ../../components/date-dropdown/date-dropdown
include ../../components/button/button
include ../../components/forms/search-room/search-room

block variables
  - var title = 'Landing Page';
  - var description = 'Landing Page';
  - var pageClass = 'landing-page';

block content
  +section({isShadow: true})
    +header({isNotAuth: true, isAuth: false, name: 'юлий цезарь', isHomePage: true})  
  +section({className: `${pageClass}__image`, wrapperClassName: `${pageClass}__image-wrapper`})
    +search-room({className: `${pageClass}__search-room margin-t-70`})
    div(class = `${pageClass}__text`) Лучшие номера для вашей работы, отдыха и просто вдохновения
  +section()
    +footer()
  +section({isLine: true, isShadow: true})  
    +copyright()  