mixin card-header({type, isLux= false, number, price}= {})
  -
    var numberClassName = type == 'title' ? 'card-header__number card-header__number_title' : 'card-header__number'
  +group-wrapper({className: 'card-header'})
    div
      h1(class=numberClassName)
        span №
        span= number
        if isLux
          .card-header__luxury люкс
    .card-header__price-block
      span.card-header__price= price + '₽'
      span.card-header__day= 'в сутки'