mixin copyright(options)
  -
    var compomentClassName = options && options.isMobile ? 'copyright copyright_mobile' : 'copyright'
  div(class = compomentClassName)
    .copyright__text Copyright © 2018 Toxin отель. Все права защищены.
    .copyright__icons
      +social-icon({type: 'twitter'})
      +social-icon({type: 'facebook'})
      +social-icon({type: 'instagram'})