mixin guide-type({titleType, description}= {})
  -
    var componentClassName = 'guide-type'
    componentClassName += titleType ? ' ' + componentClassName + '-' + titleType : ''
  div(class= componentClassName)
    span.guide-type__aside= titleType
    .guide-type__content
      .guide-type__description= description
