extends ../components/layout-guide

include ../components/logo
include ../components/forms/search-room
include ../components/forms/reservation
include ../components/forms/registration
include ../components/forms/authorization
include ../components/card/card
include ../components/field-wrapper
include ../components/form/group-wrapper
include ../components/form/dropdown
include ../components/form/text-field
include ../components/form/radio
include ../components/form/masked-text-field
include ../components/form/toggle
include ../components/form/rate
include ../components/form/date-dropdown
include ../components/form/date-dropdown/calendar
include ../components/form/button

block variables
  - var title = 'Cards';
  - var description = 'Authoriazation forms, calendar, hotel room cards';
  - var pageClass = 'guide-cards';
  - var registrationRadio = pageClass + '_offset-registration-radio'
  - var pageLogoClass = 'guide-common__logo'

block content
  .margin-t-30
    +logo({isGrey: true, className: pageLogoClass})
  div(class = `${pageClass}__container margin-t-30`)
    div
      +search-room({className: 'margin-b-40'})
      +registration()
    div
      +reservation({className: 'margin-b-40', price: '9 900', discount: '2 179', fee: 0, additionalServices: 300})
      +authorization()
    div
      +calendar({className: 'margin-b-40'})
      +card({feedback: '145', images: [
        {alt: 'hotel room', src: '../../../assets/img/room888.jpg'},
        {alt: 'hotel room', src: '../../../assets/img/room888.jpg'},
        {alt: 'hotel room', src: '../../../assets/img/room888.jpg'},
        {alt: 'hotel room', src: '../../../assets/img/room888.jpg'}
      ]})