extends ../components/layout

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section
    .container
     a(href='./guide-colors-and-type.html') Colors and type
     br
     a(href='./guide-form-elements.html') Form Elements
     br
     a(href='./guide-cards.html') Cards
     br
     a(href='./guide-headers-footers.html') Headers and Footers
     br
     a(href='./landing-page.html') Landing Page
     br
     a(href='./landing-page-dates-dropdown.html') Landing Page Dates Dropdown
     br
     a(href='./landing-page-guests-dropdown.html') Landing Page Guests Dropdown
     br
     a(href='./page-search-room.html') Search Room
     br
     a(href='./page-search-room-dropdown.html') Search Room Preferences Dropdown
     br
     a(href='./page-search-room-expandable-checkbox-list.html') Search Room Preferences Expandable Checkbox list
     br
     a(href='./page-room-details.html') Room details
     br
     a(href='./page-registration.html') Registration
     br
     a(href='./page-auth.html') Authorization
  example-component




    