extends ../components/layout

include ../components/logo
include ../components/navigation
include ../components/header
include ../components/footer
include ../components/form/subscription-text-field
include ../components/copyright
include ../components/social-icon
include ../components/section
include ../components/form/group-wrapper
include ../components/field-wrapper
include ../components/form/dropdown
include ../components/form/date-dropdown
include ../components/form/button
include ../components/forms/search-room

block variables
  - var title = 'Landing Page';
  - var description = 'Landing Page';
  - var pageClass = 'landing-page';

block content
  +section({isShadow: true})
    +header({isNotAuth: true, isAuth: false, user: 'юлий цезарь', isHomePage: true})  
  +section({className: `${pageClass}__image`, wrapperClassName: `${pageClass}__image-wrapper`})
    +search-room({className: `${pageClass}__search-room margin-t-70`})
    div(class = `${pageClass}__text`) Лучшие номера для вашей работы, отдыха и просто вдохновения
  +section()
    +footer()
  +section({isLine: true, isShadow: true})  
    +copyright()  