extends ../components/layout

include ../components/logo
include ../components/navigation
include ../components/header
include ../components/footer
include ../components/form/subscription-text-field
include ../components/copyright
include ../components/social-icon
include ../components/section
include ../components/form/group-wrapper
include ../components/field-wrapper
include ../components/form/button
include ../components/forms/authorization
include ../components/form/text-field
include ../components/form/masked-text-field

block variables
  - var title = 'Page Authorization';
  - var description = 'page-auth';
  - var pageClass = 'page-auth';

block content
  +section({isShadow: true})
    +header({isNotAuth: true, isAuth: false, user: 'юлий цезарь', isHomePage: true})  
  +section({className: `${pageClass}__image`, wrapperClassName: `${pageClass}__image-wrapper`})
    +authorization({className: `${pageClass}__auth-form`})
  +section()
    +footer()
  +section({isLine: true, isShadow: true})  
    +copyright()  