extends ../components/layout

include ../components/logo
include ../components/navigation
include ../components/header
include ../components/footer
include ../components/form/subscription-text-field
include ../components/copyright
include ../components/social-icon
include ../components/section
include ../components/form/group-wrapper
include ../components/field-wrapper
include ../components/form/button
include ../components/forms/registration
include ../components/form/text-field
include ../components/form/radio
include ../components/form/masked-text-field
include ../components/form/toggle

block variables
  - var title = 'Page Registration';
  - var description = 'page-registration';
  - var pageClass = 'page-registration';

block content
  +section({isShadow: true})
    +header({isNotAuth: true, isAuth: false, user: 'юлий цезарь', isHomePage: true})  
  +section({className: `${pageClass}__image`, wrapperClassName: `${pageClass}__image-wrapper`})
    +registration({className: `${pageClass}__registration-form margin-t-20`})
  +section()
    +footer()
  +section({isLine: true, isShadow: true})  
    +copyright()  