mixin group-wrapper({className}= {}) 
  -
    var componentClassName = 'group-wrapper'
    componentClassName += className ? ' ' + className : ''
  if block
  div(class= componentClassName)
    block 