.page-registration {

  &__image {
    height: 684px;
    background-image: url(./../img/background-login.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #e5e5e5;
  }

  &__image-wrapper {
    height: 100%;
  }

  &__registration-form {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
}
