.page-room-details {
  &__border {
    border-bottom: 1px solid $dark-25;
  }

  &__container {
    display: grid;
    grid-template-columns: 707px 380px;
    gap: 74px;
    margin-top: 70px;

  }

  &__wrapper {
    display: grid;
    grid-template-columns: 264px 341px;
    gap: 97px;
}

  h2 {
    font-family: $labelTextFont;
    font-weight: $wigetTitleFontWeight;
    font-size: $insideWigetsFontSize;
    line-height: $insideWigetsLineHeight;
    color: $dark-100;
    letter-spacing: -0.03rem;
  }

  p {
    font-family: $bodyTextFont;
    font-weight: $bodyTextFontFontWeight;
    font-size: $bodyTextFontSize;
    line-height: $bodyTextFontLineHeight;
    color: $dark-75;
  }

  &__diagram-wrapper {
    margin-right: 40px;
  }

  &__comment-offset {
    margin-top: 22px;
  }

  &__head-wrapper {
    margin-left: 19px;
  }
}
