mixin advantages-block({imgType, title, description}= {})
  -
    var asideClassName = 'advantages-block__aside'
    asideClassName += imgType ? ' advantages-block-' + imgType : ''
  .advantages-block
    div(class = asideClassName)
    .advantages-block__content
       .advantages-block__title= title
       .advantages-block__description= description