mixin advantages-block(options)
  -
    var asideClassName = 'advantages-block__aside'
    asideClassName += options.imgType ? ' advantages-block-' + options.imgType : ''
  .advantages-block
    div(class = asideClassName)
    .advantages-block__content
       .advantages-block__title= options.title
       .advantages-block__description= options.description