include ../card-slider/card-slider
include ../card-header/card-header

mixin card({className, isActive= false, isLux= false, images, number, rate, feedback}= {})
  -
    var componentClassName = 'card'
    componentClassName += className ? ' ' + className : ''
  div(class= componentClassName)
    +card-slider({isActive: isActive, images: images})
    .card__container
      +card-header({
        className: '', number: number || '888', 
        isLux: isLux, 
        price: price || 9990})
      .card__line.margin-t-10.margin-b-10
      .card__rating
        +rate({count: rate || 5})
        .card__feedback-block
          span.card__feedback= feedback
          span.card__feedback-text= 'Отзывов'
      