mixin expandable-checkbox-list(options)
  -
    var baseClassName = 'expandable-checkbox-list'
    var componentClassName = baseClassName
    componentClassName += options.isOpen ? ' ' + baseClassName + '_open': ''
    componentClassName += options.className ? ' ' + options.className : ''
  div(class= componentClassName)
    .expandable-checkbox-list__trigger
        .expandable-checkbox-list__name= options.name
        .expandable-checkbox-list__arrow 
          svg(width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z' fill='#1F2041')
    .expandable-checkbox-list__options
      if options.values && options.values.length > 0
        for value in options.values
          +checkbox({id: value.id, name: value.name, isChecked: value.isChecked})