mixin images({className, images}= {})
  -
    var componentClassName = 'images'
    componentClassName += className ? ' ' + className : ''
  div(class= componentClassName)
    div(class= `${componentClassName}__image`)
      img(src= images[0].src)
      - images.shift()
    div(class= `${componentClassName}__wrapper`)
      for image, index in images
        img(src= image.src)