include option/option

mixin dropdown({className, isOpen= false, placeholder, isShowActions= false, values=[], isClearable= false}= {})
  -
    var baseClassName = 'dropdown'
    var componentClassName = baseClassName
    componentClassName += isOpen ? ' ' + baseClassName + '_open': ''
    componentClassName += className ? ' ' + className : ''
  div(class= componentClassName)
    .dropdown__wrapper
      .dropdown__trigger
        .dropdown__placeholder= placeholder
        .dropdown__arrow 
          svg(width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z' fill='#1F2041')
      .dropdown__options
        if values.length > 0
          .dropdown__options-wrapper
            for value in values 
              +option({id: value.id, name: value.name, count: value.count})
          if isShowActions
            .dropdown__actions
              if isClearable
                button.dropdown__button= 'Очистить'
              button.dropdown__button.dropdown__button_accept= 'Применить'   